In [2]:
import pandas as pd

In [ ]:
df = pd.read_json("2025-11-30.json")
current_name = "2025-11-30.json"

In [4]:
df.columns

Index(['resource_state', 'athlete', 'name', 'distance', 'moving_time',
       'elapsed_time', 'total_elevation_gain', 'type', 'sport_type',
       'workout_type', 'id', 'start_date', 'start_date_local', 'timezone',
       'utc_offset', 'location_city', 'location_state', 'location_country',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'map', 'trainer', 'commute', 'manual', 'private',
       'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng',
       'average_speed', 'max_speed', 'average_cadence', 'has_heartrate',
       'average_heartrate', 'max_heartrate', 'heartrate_opt_out',
       'display_hide_heartrate_option', 'elev_high', 'elev_low', 'upload_id',
       'upload_id_str', 'external_id', 'from_accepted_tag', 'pr_count',
       'total_photo_count', 'has_kudoed', 'device_name'],
      dtype='object')

In [5]:
columns = ["elapsed_time", "distance" ,"total_elevation_gain", "id", "average_speed", "average_cadence", "has_heartrate", "average_heartrate", "max_heartrate"]

In [6]:
df[columns]

,elapsed_time,distance,total_elevation_gain,id,average_speed,average_cadence,has_heartrate,average_heartrate,max_heartrate
0,2220,6000.0,0.0,16583560575,2.703,84.6,True,155.9,168.0
1,1936,5020.0,0.0,16565882158,2.593,82.1,True,146.0,160.0
2,3896,10000.0,0.0,16516631270,2.567,80.5,True,144.2,157.0
3,4100,10000.0,0.0,16493239398,2.439,80.5,True,145.8,158.0
4,4567,10180.0,0.0,16427894286,2.229,82.0,True,139.0,153.0
5,3755,10000.0,0.0,16402273416,2.663,83.8,True,157.8,174.0
6,3795,10010.0,0.0,16372498932,2.638,85.0,True,159.3,170.0
7,1864,5070.0,0.0,16356312613,2.720,85.6,False,NaN,NaN
8,2002,5010.0,0.0,16296001340,2.502,81.7,False,NaN,NaN
9,5112,14177.5,12.9,16250536986,2.776,NaN,False,NaN,NaN
10,3292,9090.4,6.9,16210132478,2.817,NaN,False,NaN,NaN
11,1688,4945.4,5.7,16134874137,3.120,NaN,False,NaN,NaN
12,2746,7337.5,11.1,16061246761,2.780,NaN,False,NaN,NaN
13,3687,11557.2,12.6,16020594681,3.135,NaN,False,NaN,NaN

In [56]:
newdf = df[columns]

In [57]:
newdf["avg_cadence_real"] = newdf["average_cadence"] * 2
newdf["elapsed_time_sec"] = newdf["elapsed_time"]
newdf["elapsed_time_min"] = newdf["elapsed_time_sec"] / 60
newdf["has_cadence"] = df["average_cadence"].notna().astype(int)
newdf["has_heartrate"] = newdf["has_heartrate"].astype(int)
newdf["distance_km"] = newdf["distance"] / 1000
newdf["distance_m"] = newdf["distance"]
newdf = newdf.drop(["elapsed_time", "distance", "average_cadence"], axis=1)

C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["avg_cadence_real"] = newdf["average_cadence"] * 2
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["elapsed_time_sec"] = newdf["elapsed_time"]
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["elapsed_time_min"] = newdf["elapsed_time_sec"] / 60
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["has_cadence"] = df["average_cadence"].notna().astype(int)
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["has_heartrate"] = newdf["has_heartrate"].astype(int)
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["distance_km"] = newdf["distance"] / 1000
C:\Users\micha\AppData\Local\Temp\ipykernel_24552\628350067.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["distance_m"] = newdf["distance"]

In [58]:
newdf

,total_elevation_gain,id,average_speed,has_heartrate,average_heartrate,max_heartrate,avg_cadence_real,elapsed_time_sec,elapsed_time_min,has_cadence,distance_km,distance_m
0,0.0,16583560575,2.703,1,155.9,168.0,169.2,2220,37.000000,1,6.0000,6000.0
1,0.0,16565882158,2.593,1,146.0,160.0,164.2,1936,32.266667,1,5.0200,5020.0
2,0.0,16516631270,2.567,1,144.2,157.0,161.0,3896,64.933333,1,10.0000,10000.0
3,0.0,16493239398,2.439,1,145.8,158.0,161.0,4100,68.333333,1,10.0000,10000.0
4,0.0,16427894286,2.229,1,139.0,153.0,164.0,4567,76.116667,1,10.1800,10180.0
5,0.0,16402273416,2.663,1,157.8,174.0,167.6,3755,62.583333,1,10.0000,10000.0
6,0.0,16372498932,2.638,1,159.3,170.0,170.0,3795,63.250000,1,10.0100,10010.0
7,0.0,16356312613,2.720,0,NaN,NaN,171.2,1864,31.066667,1,5.0700,5070.0
8,0.0,16296001340,2.502,0,NaN,NaN,163.4,2002,33.366667,1,5.0100,5010.0
9,12.9,16250536986,2.776,0,NaN,NaN,NaN,5112,85.200000,0,14.1775,14177.5
10,6.9,16210132478,2.817,0,NaN,NaN,NaN,3292,54.866667,0,9.0904,9090.4
11,5.7,16134874137,3.120,0,NaN,NaN,NaN,1688,28.133333,0,4.9454,4945.4
12,11.1,16061246761,2.780,0,NaN,NaN,NaN,2746,45.766667,0,7.3375,7337.5
13,12.6,16020594681,3.135,0,NaN,NaN,NaN,3687,61.450000,0,11.5572,11557.2

In [54]:
newdf.columns

Index(['total_elevation_gain', 'id', 'average_speed', 'has_heartrate',
       'average_heartrate', 'max_heartrate', 'avg_cadence_real',
       'elapsed_time_sec', 'elapesed_time_min', 'has_cadence', 'distance_km',
       'distance_m'],
      dtype='object')

In [60]:
newdf[["id", "elapsed_time_sec", "elapsed_time_min", "distance_m", "distance_km", "has_heartrate", "average_heartrate", "max_heartrate", "has_cadence", "avg_cadence_real", "average_speed", "total_elevation_gain"]]

,id,elapsed_time_sec,elapsed_time_min,distance_m,distance_km,has_heartrate,average_heartrate,max_heartrate,has_cadence,avg_cadence_real,average_speed,total_elevation_gain
0,16583560575,2220,37.000000,6000.0,6.0000,1,155.9,168.0,1,169.2,2.703,0.0
1,16565882158,1936,32.266667,5020.0,5.0200,1,146.0,160.0,1,164.2,2.593,0.0
2,16516631270,3896,64.933333,10000.0,10.0000,1,144.2,157.0,1,161.0,2.567,0.0
3,16493239398,4100,68.333333,10000.0,10.0000,1,145.8,158.0,1,161.0,2.439,0.0
4,16427894286,4567,76.116667,10180.0,10.1800,1,139.0,153.0,1,164.0,2.229,0.0
5,16402273416,3755,62.583333,10000.0,10.0000,1,157.8,174.0,1,167.6,2.663,0.0
6,16372498932,3795,63.250000,10010.0,10.0100,1,159.3,170.0,1,170.0,2.638,0.0
7,16356312613,1864,31.066667,5070.0,5.0700,0,NaN,NaN,1,171.2,2.720,0.0
8,16296001340,2002,33.366667,5010.0,5.0100,0,NaN,NaN,1,163.4,2.502,0.0
9,16250536986,5112,85.200000,14177.5,14.1775,0,NaN,NaN,0,NaN,2.776,12.9
10,16210132478,3292,54.866667,9090.4,9.0904,0,NaN,NaN,0,NaN,2.817,6.9
11,16134874137,1688,28.133333,4945.4,4.9454,0,NaN,NaN,0,NaN,3.120,5.7
12,16061246761,2746,45.766667,7337.5,7.3375,0,NaN,NaN,0,NaN,2.780,11.1
13,16020594681,3687,61.450000,11557.2,11.5572,0,NaN,NaN,0,NaN,3.135,12.6